<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-expand-md">
  <img width="50px" src="./assets/angular.svg" alt="logo do Angular" />
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
    <div id="button" class="btn not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </button>

  <div class="navbar-collapse collapse" id="navbar">
    <ul>
      <li>
        <a routerLink='/pontos-turisticos' routerLinkActive="active">Pontos turisticos</a>
      </li>
      <li>
        <a routerLink='/sobre'>Sobre</a>
      </li>
      <li>
        <button type="button" (click)="alterarTema()">
          <img
            src="./assets/{{icone}}.svg"
            alt="Clique aqui e mude o tema para {{textoTema}}"
          />
        </button>
      </li>
    </ul>
  </div>
</nav>

